# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List Data Science Tools
* Perform mathematic calculation 
* Create a Table

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. NumPy
    3. SciPy

| Data Science Tools |
| --- |
| RStudio | 
| Jupyter Notebooks | 
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60

In [3]:
200/60

3.3333333333333335